@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    margin-left: 5%;
    max-width: 1300px;
    height: 100vh;

    & .template {
        background-color: #f0f0f0;
        width: 45%;
        min-height: 600px;
    }

    & .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

        & .left-side__header {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            line-height: 3rem;
            width: 100%;

            & .left-side__title {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 3rem;
                letter-spacing: 10px;
            }
        }

        & .left-side__our-objective {
            margin-bottom: 2%;

            & .our-objective__paragraph {
                text-align: start;
                font-size: 1.2rem;
                color: #213547;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                box-sizing: border-box;
            }
        }
    }

    & .right-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

        & .wallpaper-section {
            margin-bottom: 5px;

            & .wallpaper-section__img {
                border-radius: 10px;
                width: 550px;
                height: 450px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
            }
        }

        & .achievements-section {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            gap: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            color: #213547;
            width: 96%;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

            & .achievements-square {
                border-radius: 10px;
                padding: 10px;
                width: 50%;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
            }
        }
    }
}