.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  & .card-header {
    padding: 5px;

    img {
      width: 200px;
      height: 150px;
    }
  }

  & .card-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
  }
}