.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 5px;
  padding: 5px;
  width: 320px;
  height: 600px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  & .card-header {
    padding: 5px;
    max-height: 500px;

    img {
      width: 300px;
      height: 300px;
    }
  }

  & .card-title {
    padding: 5px;
    height: 100px;
  }

  & .card-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
  }

  & .card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & .add-button {
      color: #fff;
      background-color: #2e52f3;

      &:hover {
        transform: scale(1.1);
      }
    }

    & .remove-button {
      color: #fff;
      background-color: #f12626;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}