.carrinho-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #000;
    color: #fff;
    padding: 10px;
    margin-left: 6%;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    & .carrinho__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    & .carrinho-section__item-resume-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid #000;
        padding: 10px;
        width: 98%;

        & .carrinho-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            width: 70%;

            & .info {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 15px;

                & img {
                    width: 300px;
                    height: 300px;
                }

                & .item-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    border: 1px solid #000;
                    width: 100%;
                    height: 100px;

                    & .item-name {
                        font-size: 18px;
                        font-weight: bold;
                    }

                    & .item-quantity {
                        font-size: 14px;
                        color: #ddd;
                    }
                }

                & .item-price {
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 15px;
                }
            }
        }

        & .resumo-section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            border: 1px solid #000;
            border-radius: 8px;
            background-color: #df7850;
            padding: 10px;
            width: 25%;

            & .resumo-section__title {
                border-bottom: 1px solid #fff;
                padding: 10px 0;
                margin-bottom: 10px;
            }

            & .resumo-item__subtotal{
                font-size: 15px;
                padding: 5px;
                width: 94%;
            }

            & .resumo-item__discount {
                color: #54eb5c;
                font-size: 15px;
                padding: 5px;
                width: 94%; 
            }

            & .total-price {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}