.carrinho-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #000;
    color: #fff;
    padding: 10px;
    margin-left: 8%;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    & .carrinho__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    & .carrinho-section__item-resume-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        width: 98%;

        .item-resume-section__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            width: 100%;

            & .carrinho-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 8px;
                padding: 15px;
                width: 90%;

                & .info {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 10px;

                    & img {
                        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                        transition: all 0.3s ease;

                        &:hover {
                            transform: translateY(-5px);
                        }
                    }

                    & .carrinho-item__img {
                        width: 300px;
                        height: 350px;
                    }

                    & .img-placeholder {
                        background-color: #ccc;
                        width: 300px;
                        height: 350px;
                    }

                    & .item-details {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 100%;
                        height: 100px;

                        & .item-details__informations {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 5px;
                            text-shadow: 1px 1px 2px lightgoldenrodyellow;

                            & .price {
                                padding: 10px;
                            }
                        }

                        & .item-details__button-section {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 10px;

                            & button {
                                transition: all 0.5s ease;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                            & .btn-remover {
                                color: #fff;
                                background-color: #f82c2c;
                            }

                            & .btn-exit-purchase {
                                color: #fff;
                                background-color: #146fb9;
                            }
                        }
                    }

                    & .item-details__thumbnails {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 10px;
                        margin: 5% 0;
                        width: 100%;

                        & .thumbnail {
                            cursor: pointer;
                            border-radius: 8px;
                            width: 100px;
                            height: 120px;
                        }
                    }

                    & .item-price {
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 15px;
                    }
                }
            }
        }

        & .resumo-section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            border: 1px solid #000;
            border-radius: 8px;
            color: #ccc;
            background-color: #df7850;
            padding: 10px;
            width: 25%;

            & .resumo-section__title {
                color: #fff;
                border-bottom: 1px solid #fff;
                padding: 10px 0;
                margin-bottom: 10px;
            }

            & .resumo-item__subtotal{
                font-size: 15px;
                padding: 5px;
                width: 94%;
            }

            & .resumo-item__discount {
                color: #54eb5c;
                font-size: 15px;
                padding: 5px;
                width: 94%; 
            }

            & .total {
                color: #fff;
                font-size: 25px;
                font-weight: bold;
            }

            & .resumo-parcelado {
                margin-left: 5px;
            }

            & .btn-finalizar {
                color: #fff;
                background-color: #146fb9;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                transition: all 0.5s ease;

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
}