.form-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    & label {
        margin-right: 10px;
    }

    button {
        background-color: #00f867;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}