header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 92%;
    margin: 1% 6%;

    & .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border: 1px solid #e6dede;
        border-radius: 8px;
        padding: 10px;
        width: 100%;

        & .button-section {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px;
            & .navbar-item {
                border: 1px solid #a39f9f;
                color: #000;
                transition: all 0.3s ease;

                &:hover {
                    color: #646cff;
                    transform: scale(1.1);
                }
            }

            & .navbar-item.active {
                color: #646cff;
                transform: scale(1.1);
            }
        }

        & .shopping-cart-section {
            color: #fff;
            padding: 10px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

           & .cart-wrapper {
                position: relative;
                display: inline-block;

                & img {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                & .cart-badge {
                    position: absolute;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 50%;
                    background-color: red;
                    padding: 2px 6px;
                    top: -8px;
                    right: -8px;
                }
           }
        }
    }
}