
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 180vh;

    & .header-home {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px;

        & .header-home__button {
            color: #fff;
            background-color: #df7850;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .home__initial-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #9e9d9d;
        border-radius: 8px;
        width: 100%;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

        & .initial-section__title {
            color: #fff;

            & .initial-section__button {
                color: #fff;
                background-color: #52998c;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        & .img-home {
            width: 500px;
        }
    }

    & .home__first-cards-section {
        display: flex;
        flex-direction: column;
    }

    & .home__apresentations-cards {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
        height: 500px;
        box-sizing: border-box;

        & .a-cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            border: 1px solid #fffcfc;
            border-radius: 8px;
            padding: 5px;
            width: 20%;
            height: 320px;
            box-shadow: 5px 9px 48px 0px rgba(255,255,255,0.75) inset;
            -webkit-box-shadow: 5px 9px 48px 0px rgba(255,255,255,0.75) inset;
            -moz-box-shadow: 5px 9px 48px 0px rgba(255,255,255,0.75) inset;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);

            img {
                
                width: 50%;
            }

            & .apresentions-cards__description {
                text-align: center;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    & .home__apresentations-cards.hidden {
        display: flex;
        opacity: 0;
        max-height: 0;
        overflow: hidden; /* Garante que o conteúdo não vaze */
        transition: opacity 0.5s ease-out, max-height 0.5s ease-out; /* Opcional: para animação */
    }

    /* O estado visível */
    & .home__apresentations-cards.visible {
        opacity: 1;
        display: flex;
        max-height: 1000px; /* Um valor alto o suficiente para mostrar o conteúdo */
    }

    & .next-page-button-section {
        transition: transform 0.5s ease;

        & .next-page-icon {
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .next-page-button-section.rotated .next-page-icon {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    & .most-purchased-title {
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }

    & .most-purchased-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        border: 1px solid #000;
        padding: 15px;

        & .most-purchased-cards {
            border: 1px solid #fffefe;
            border-radius: 15px;
            padding: 5px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

            & img {
                border-radius: 15px;
                width: 300px;
                height: 250px;
            }
        }
    }
}