.popup {
    position: fixed;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: #4caf50;
    padding: 14px 20px;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease-out;
}