@import "./style/Home.css";
@import "./style/Card.css";
@import "./style/Header.css";
@import "./style/Formulario.css";
@import "./style/PopUp.css";
@import "./style/Side-menu.css";
@import "./style/Formulario-login.css";
@import "./style/Footer.css";
@import "./style/Carrinho.css";

/* Import de animações */
@import "./style/animations/Animation.css";

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 150vh;
  height: 150vh;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}

.formulario-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5%;
  margin-left: 6%;
  width: 133vh;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 15px;
  margin-left: 5%;
  max-width: 160vh;
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
