@import "./style/Home.css";
@import "./style/Card.css";
@import "./style/Header.css";
@import "./style/Formulario.css";
@import "./style/PopUp.css";
@import "./style/Side-menu.css";
@import "./style/Formulario-login.css";

/* Import de animações */
@import "./style/animations/Animation.css";

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 90vh;
  padding: 5px;
  margin: 10px;

  & .header-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 15px;
    width: 100%;
  }
}

.formulario-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  max-width: 150vh;
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
